@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900|Encode+Sans:400,700|Libre+Baskerville");
.breakpoint {
  z-index: 10000;
  text-align: center;
  font-size: .8rem;
  color: #fff;
  position: fixed;
  bottom: .4rem;
  right: .6rem;
  opacity: .8;
  padding: .4rem 1rem;
  border-radius: .4rem; }
  @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
    .breakpoint {
      background: black; }
      .breakpoint:before {
        content: " [ bp(large-screen) ] - 1894px and up "; } }
  @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
    .breakpoint {
      background: navy; }
      .breakpoint:before {
        content: " [ bp(big-screen) ]  - Desktops and Laptops  / iPad Pro Landscape"; } }
  @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
    .breakpoint {
      background: brown; }
      .breakpoint:before {
        content: "[ bp(ipad) ] - iPad Landscape / iPad Pro Portrait / iPHone 6/7/8 Landscape"; } }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (orientation: portrait) {
    .breakpoint {
      background: black; }
      .breakpoint:before {
        content: "[ bp(ipad-portrait) ] - iPad Portrait"; } }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 568px) {
    .breakpoint {
      background: green; }
      .breakpoint:before {
        content: "[ bp(iphone5-landscape) ] - iPHone 5 Landscape"; } }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    .breakpoint {
      background: yellow; }
      .breakpoint:before {
        content: "[ bp(iphone) ] - iPHone 6/7/8 Portrait";
        color: #222 !important; } }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 320px) {
    .breakpoint {
      background: pink; }
      .breakpoint:before {
        content: "[ bp(iphone-portrait) ] - iPHone 5 Portrait";
        color: #222 !important; } }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

::root {
  font-size: 100%; }

body {
  line-height: 1.6;
  font-family: "Encode Sans", sans-serif;
  color: #1B2025; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0 0 .8rem;
  padding: 0;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 4.6rem;
  color: #1B2025; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.0rem; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
  padding-top: 0; }

p {
  margin: 0 0 1rem;
  letter-spacing: .4px;
  font-size: 1rem;
  line-height: 1.8; }

* p:only-child,
* p:last-child {
  margin-bottom: 0; }

a {
  text-decoration: none;
  color: #a2b1ba;
  transition: .2s; }
  a:active, a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #0cf; }
  a small {
    font-size: .8rem; }

strong {
  font-weight: 600; }

.free {
  min-height: 16rem;
  background: white;
  overflow: hidden;
  text-align: left; }

.full {
  width: 100vw;
  height: 100vh; }

.confined {
  max-width: 1440px;
  margin: 0 auto; }

.section-header {
  margin-top: 6rem;
  text-align: center; }

.g-heading {
  max-width: 85vw; }

.flexible-content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch; }
  @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
    .flexible-content {
      height: 100vh; } }
  @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
    .flexible-content {
      height: 100vh; } }
  .flexible-content > section {
    position: relative; }

.title-bar {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative; }
  .title-bar h1 {
    letter-spacing: .1rem; }
  .title-bar.g1 {
    background-image: linear-gradient(0deg, #0cf 0%, #dc32bb 96%); }
  .title-bar.g2 {
    background-image: linear-gradient(to bottom, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ec8c69 100%); }
  .title-bar svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.topbar {
  display: flex;
  flex-flow: row wrap;
  font-family: "Montserrat", sans-serif;
  background: #1b2025;
  margin: 0 0 2rem;
  padding: .6rem 1rem;
  width: 100%;
  position: fixed;
  z-index: 10000; }
  .topbar .branding {
    flex: 0 1 50%; }
  .topbar .controls {
    flex: 0 1 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end; }
  .topbar .logo {
    font-size: 1.0rem;
    transform-origin: left top; }
    .topbar .logo > * {
      display: inline-block;
      white-space: nowrap;
      transition: .4s; }
    .topbar .logo span {
      color: rgba(255, 255, 255, 0.24); }
    .topbar .logo .pip {
      width: 0;
      opacity: 0; }
    .topbar .logo .sulp {
      margin-right: 5px; }
    .topbar .logo .ex {
      width: 20px;
      transition: .4s .3s; }
    .topbar .logo .ico {
      width: 0;
      opacity: 0; }
    .topbar .logo span {
      color: white; }
    .topbar .logo:hover span {
      color: white; }
  .topbar .logo:not(.expanded):hover,
  .topbar .logo.expanded {
    transition: .4s 0; }
    .topbar .logo:not(.expanded):hover .pip,
    .topbar .logo.expanded .pip {
      width: 60px;
      opacity: 1;
      transition: .6s; }
    .topbar .logo:not(.expanded):hover .ex,
    .topbar .logo.expanded .ex {
      width: 0;
      opacity: 0;
      transition: .6s; }
    .topbar .logo:not(.expanded):hover .ico,
    .topbar .logo.expanded .ico {
      width: 62px;
      opacity: 1;
      transition: .6s .2s; }
  .topbar h2 {
    font-size: 1.4rem;
    margin-bottom: 0rem;
    line-height: 1.5; }
  .topbar__tagline {
    font-size: .8rem;
    letter-spacing: .1rem;
    color: #a2b1ba; }

.slideshow {
  z-index: 5000;
  height: 100vh;
  width: 100%; }
  .slideshow section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #1B2025;
    transition: 1s; }
    .slideshow section.blar {
      background-color: #1B2025;
      transition: 1.5s; }
    .slideshow section article {
      overflow: hidden;
      background: black;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      z-index: 1000;
      height: 100vh;
      width: 100%;
      margin-left: 50%;
      margin-top: calc(100vh / 2);
      transform-origin: 50% 50%;
      transform: translateX(-50%) translateY(-50%) scale(1) perspective(1400px) rotateX(0) rotateY(0);
      filter: blur(0);
      opacity: 1;
      -webkit-filter: blur(0);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition: all 1.6s; }
      .slideshow section article.next-form {
        transform: translateX(-50%) translateY(-50%) scale(0.8) perspective(1200px) rotateX(15deg) rotateY(0);
        filter: blur(25px);
        opacity: .1;
        -webkit-filter: blur(25px);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition: all 2s; }
      .slideshow section article.prev-form {
        transform: translateX(-50%) translateY(-50%) scale(0.8) perspective(1200px) rotateX(-15deg) rotateY(0);
        filter: blur(25px);
        opacity: .1;
        -webkit-filter: blur(25px);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition: all 2s; }

#pager {
  z-index: 9000;
  position: fixed;
  right: 0;
  top: 50%;
  padding: 10px 20px;
  transform: translateY(-50%);
  color: white; }
  #pager a {
    display: block;
    background: white;
    height: 4px;
    width: 4px;
    font-size: 0;
    text-indent: -10rem;
    overflow: hidden;
    border-radius: 2px;
    margin: 1rem 0;
    opacity: .2; }
    #pager a.selected {
      opacity: 1;
      height: 16px; }

.work-history {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch;
  background: #141E30;
  /* fallback for old browsers */
  background: linear-gradient(to bottom, #131516, #1B2025);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 6rem 0 8rem; }
  .work-history > * {
    flex: 1 1 50%; }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    .work-history {
      padding: 0 0 6rem; } }
  @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
    .work-history {
      padding: 2rem 0 0; } }
  @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
    .work-history > section {
      flex-basis: 100%; } }
  .work-history .self-intro {
    font-family: "Encode Sans", sans-serif;
    color: #a2b1ba;
    box-sizing: border-box;
    padding: 0 6rem; }
    @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
      .work-history .self-intro {
        margin: 0 0 6rem;
        padding: 0 3rem; } }
    @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
      .work-history .self-intro {
        padding: 0 4rem; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 568px) {
      .work-history .self-intro {
        padding: 0 3rem 3rem; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 320px) {
      .work-history .self-intro {
        padding: 0 2rem;
        margin: 0 0 3rem; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
      .work-history .self-intro {
        margin: 0 0 4rem;
        padding: 0 1.8rem; } }
    .work-history .self-intro .photo {
      width: 16rem;
      border-radius: 10rem;
      margin: 0 auto 4rem;
      overflow: hidden;
      padding-top: 0 0; }
      @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
        .work-history .self-intro .photo {
          width: 12rem;
          margin: 0 auto 1rem; } }
      .work-history .self-intro .photo img {
        width: 100%; }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
      .work-history .self-intro {
        padding-top: 0 0; } }
    .work-history .self-intro a {
      color: #0cf; }
      .work-history .self-intro a:hover {
        text-decoration: underline; }
    .work-history .self-intro h3 {
      text-align: center;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 320px) {
        .work-history .self-intro h3 {
          font-size: .8rem;
          padding: 0 1rem; } }
      @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
        .work-history .self-intro h3 {
          padding: 0 0 2rem;
          font-size: 1.2rem;
          margin-bottom: 2rem; } }
      .work-history .self-intro h3 span.bigger {
        font-weight: 600; }
        @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
          .work-history .self-intro h3 span.bigger {
            font-size: 2.3rem; } }
        @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
          .work-history .self-intro h3 span.bigger {
            margin-bottom: 3rem;
            font-size: 3.0rem; } }
        @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (orientation: portrait) {
          .work-history .self-intro h3 span.bigger {
            font-size: 2.6rem; } }
        @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
          .work-history .self-intro h3 span.bigger {
            font-size: 1.9rem; }
            .work-history .self-intro h3 span.bigger a {
              display: inline-block;
              padding-bottom: 1rem; } }
        @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 320px) {
          .work-history .self-intro h3 span.bigger {
            font-size: 1.8rem;
            display: inline-block;
            padding-bottom: .6rem; }
            .work-history .self-intro h3 span.bigger a {
              padding-bottom: 0rem; } }

.dark-void-01 {
  height: 50rem; }

h2 {
  font-size: 4rem;
  text-align: center; }

.eyecandy {
  background: #1B2025;
  overflow: visible; }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    .eyecandy:after {
      display: block;
      content: '';
      height: 80px;
      width: 100vw;
      background: #1B2025;
      background: linear-gradient(180deg, #b8bdc2 0%, white 100%);
      transform: translateY(10px); } }
  .eyecandy .section-header {
    margin: 0; }
    .eyecandy .section-header h3 {
      display: block;
      position: relative;
      color: white; }
      @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
        .eyecandy .section-header h3 {
          font-size: 2rem; } }
      .eyecandy .section-header h3 span {
        display: inline-block;
        background: #1B2025;
        padding: 0 2rem;
        z-index: 100;
        position: relative; }
      .eyecandy .section-header h3:after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: #a2b1ba;
        position: absolute;
        top: 50%;
        opacity: .2;
        z-index: 90; }

em.sepper:before {
  content: '-'; }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    em.sepper:before {
      content: ' '; } }

.art-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch; }
  @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
    .art-grid > section {
      flex: 0 1 calc(100% / 3); } }
  @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
    .art-grid > section {
      flex: 0 1 calc(100% / 2); } }
  @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
    .art-grid > section {
      flex: 0 1 calc(100% / 2); } }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    .art-grid > section {
      flex: 0 1 calc(100%); } }
  .art-grid > section article {
    position: relative;
    overflow: hidden;
    background: #1B2025;
    height: 22rem; }
    @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
      .art-grid > section article {
        height: 22rem; } }
    @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
      .art-grid > section article {
        height: 18rem; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (orientation: portrait) {
      .art-grid > section article {
        height: 11.6rem; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
      .art-grid > section article {
        height: 12rem; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 320px) {
      .art-grid > section article {
        height: 11rem; } }
  .art-grid > section .overlay {
    position: absolute;
    z-index: 4200;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-20%);
    color: white;
    -webkit-transform-style: preserve-3d;
    opacity: 0;
    transition: .2s; }
    .art-grid > section .overlay b {
      font-size: 1.6rem;
      display: inline-block;
      margin-bottom: 1rem; }
  .art-grid > section img {
    position: absolute;
    z-index: 4000;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .6s;
    transition-delay: .2s;
    -webkit-backface-visibility: hidden; }
  .art-grid > section:hover .overlay {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: .8s;
    transition-delay: .2s; }
  .art-grid > section:hover img {
    width: 118%;
    opacity: .2;
    transition: .5s;
    filter: blur(4px); }

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0 0 8rem;
  margin: 0 0 2rem; }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    .flex-grid {
      margin: 0;
      padding: 0 0 3rem; } }
  .flex-grid section {
    text-align: center;
    position: relative; }
    @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
      .flex-grid section {
        flex: 0 1 33%; } }
    @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
      .flex-grid section {
        flex: 0 1 calc(1 / 4 * 100%); } }
    @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
      .flex-grid section {
        flex: 0 1 50%; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
      .flex-grid section {
        flex: 0 1 100%; } }
    .flex-grid section h3 {
      font-size: 1.2rem;
      position: relative;
      margin: 6rem 0 4rem;
      padding-bottom: 1.6rem; }
    .flex-grid section article {
      background: #1B2025;
      color: white;
      margin: 1.2rem;
      height: 26rem;
      box-shadow: 0 0.2rem 1rem rgba(27, 32, 37, 0.1);
      border-radius: .6rem;
      transition: .2s;
      overflow: hidden;
      position: relative;
      padding: 2rem; }
      .flex-grid section article img {
        position: absolute;
        width: 48rem;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: .2s;
        filter: blur(0);
        z-index: 100; }
      .flex-grid section article:hover {
        z-index: 200;
        box-shadow: 0 1.8rem 8rem rgba(27, 32, 37, 0.75);
        margin: .2rem;
        height: 28rem;
        transition: .2s;
        border-radius: .8rem;
        transform-origin: 50% 50%; }
        .flex-grid section article:hover a {
          color: #0cf; }
        .flex-grid section article:hover img {
          width: 65rem;
          opacity: .2;
          filter: blur(4px);
          transition: .6s; }
      .flex-grid section article .overlay {
        position: absolute;
        z-index: 4200;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-20%);
        color: white;
        -webkit-transform-style: preserve-3d;
        opacity: 0;
        transition: .2s; }
        .flex-grid section article .overlay .project-title {
          font-size: 1.6rem;
          color: #0cf;
          display: inline-block;
          margin-bottom: 1rem; }
      .flex-grid section article:hover .overlay {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        transition: .8s;
        transition-delay: .2s; }

.case-studies {
  padding: 8rem 0 0;
  background: white; }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    .case-studies {
      padding: 4rem 0 0; } }
  .case-studies .section-header {
    margin: 0 0 8rem;
    padding: 0 2rem 0; }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
      .case-studies .section-header {
        margin: 0 -1rem 6rem; } }
    .case-studies .section-header .console-style-ui {
      border: 1px solid rgba(27, 32, 37, 0.2);
      max-width: 68rem;
      margin: 0 auto 1rem;
      padding: 0;
      overflow: hidden;
      text-align: left;
      border-radius: .4rem; }
      .case-studies .section-header .console-style-ui .ui-header {
        background: #1B2025;
        position: relative;
        color: white;
        padding: .6rem 1.2rem;
        font-size: 1.4rem; }
      .case-studies .section-header .console-style-ui .ui-body h1 {
        line-height: 1;
        text-align: left;
        padding: 1.4rem 1rem 1.4rem 2rem;
        margin: 0;
        font-size: 5.2rem;
        position: relative;
        display: inline-block;
        width: auto;
        font-weight: 600; }
        @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
          .case-studies .section-header .console-style-ui .ui-body h1 {
            padding: 1.4rem .8rem 1.4rem 1.2rem;
            font-size: 2rem; } }
        .case-studies .section-header .console-style-ui .ui-body h1 .fas {
          margin-right: 1.5rem; }
        .case-studies .section-header .console-style-ui .ui-body h1:after {
          content: '';
          display: block;
          width: 4px;
          background: #1B2025;
          position: absolute;
          right: 0;
          top: 1rem;
          height: 5rem; }
          @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
            .case-studies .section-header .console-style-ui .ui-body h1:after {
              height: 2.4rem; } }
  .case-studies h3 {
    font-size: 3rem; }
  .case-studies .project-list {
    padding: 0 0 10rem; }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
      .case-studies .project-list {
        padding: 0 0 4rem; } }
    .case-studies .project-list section {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 10rem; }
      @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
        .case-studies .project-list section {
          margin-bottom: 6rem; } }
      .case-studies .project-list section:last-child {
        margin-bottom: 0; }
      .case-studies .project-list section .pane {
        flex: 0 1 52rem;
        padding: 4rem; }
        @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
          .case-studies .project-list section .pane {
            padding-bottom: 0rem; } }
        @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
          .case-studies .project-list section .pane {
            padding: 1rem 2rem 0; } }
        .case-studies .project-list section .pane.main a.project-url {
          display: block;
          text-align: center;
          font-size: 1.2rem;
          margin-bottom: 2rem; }
        .case-studies .project-list section .pane.preview .photo {
          display: block;
          border: 1px solid rgba(27, 32, 37, 0.1);
          border-radius: .4rem;
          overflow: auto;
          position: relative;
          overflow: hidden;
          transition: all .4s ease;
          box-shadow: 0 0 0 rgba(27, 32, 37, 0); }
          .case-studies .project-list section .pane.preview .photo:after {
            display: block;
            content: "";
            height: 60px;
            width: 60px;
            position: absolute;
            background: #0cf;
            transform: rotateZ(45deg);
            display: block;
            content: "";
            height: 60px;
            width: 60px;
            position: absolute;
            transform: rotateZ(45deg);
            right: -60px;
            top: -60px;
            transition: all .4s ease; }
          .case-studies .project-list section .pane.preview .photo img {
            width: 100%;
            display: block; }
          .case-studies .project-list section .pane.preview .photo:hover {
            border: 1px solid #0cf;
            transition: all .6s ease;
            transform: translateY(-20px);
            box-shadow: 0 10px 40px -20px #1b2025; }
            .case-studies .project-list section .pane.preview .photo:hover:after {
              right: -30px;
              top: -30px;
              transition: all .6s ease; }
        .case-studies .project-list section .pane .pane-content {
          margin: 0 0 2rem;
          text-align: center; }
        .case-studies .project-list section .pane .pane-header {
          text-align: center;
          margin-bottom: 4rem; }
          @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
            .case-studies .project-list section .pane .pane-header {
              margin-bottom: 2rem; } }
          .case-studies .project-list section .pane .pane-header h3 {
            margin-bottom: 0; }
            @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
              .case-studies .project-list section .pane .pane-header h3 {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1;
                margin: 0 0 1rem; } }
          .case-studies .project-list section .pane .pane-header h5 {
            margin-bottom: 2rem;
            font-family: "Encode Sans", sans-serif;
            letter-spacing: .1rem;
            font-size: 2rem; }
            @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
              .case-studies .project-list section .pane .pane-header h5 {
                font-size: .8rem;
                letter-spacing: 0; } }
      .case-studies .project-list section:nth-child(even) .main {
        order: 2; }
        @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
          .case-studies .project-list section:nth-child(even) .main {
            order: 1; } }
      .case-studies .project-list section:nth-child(even) .preview {
        order: 1; }
        @media only screen and (max-width: 1824px), only screen and (max-device-width: 1824px) {
          .case-studies .project-list section:nth-child(even) .preview {
            order: 2; } }
      .case-studies .project-list section:nth-child(odd) .main {
        order: 1; }
      .case-studies .project-list section:nth-child(odd) .preview {
        order: 2; }

.milestone {
  color: #a2b1ba;
  max-width: 814px;
  margin: 0 auto; }
  .milestone:hover .step:not(:hover) {
    filter: blur(4px);
    opacity: .4; }
  .milestone .step {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    transition: .2s; }
    .milestone .step .year {
      text-align: right;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      flex: 0 0 9rem;
      padding: 1.8rem 2rem 1.8rem 1rem;
      font-size: 1.8rem; }
      @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
        .milestone .step .year {
          flex: 0 0 6rem;
          font-size: 1.0rem;
          padding: 4rem 1rem 4rem 1rem; } }
    .milestone .step .work {
      flex: 1 0;
      padding: 0 1rem 0 2rem;
      font-size: .8rem;
      color: rgba(255, 255, 255, 0.2); }
      @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
        .milestone .step .work {
          padding: 1rem 1rem 1rem 1rem; } }
      .milestone .step .work__type {
        font-size: 1rem;
        color: white;
        font-family: "Montserrat", sans-serif; }
    .milestone .step:hover {
      border-radius: .6rem;
      transition: .6s; }
      .milestone .step:hover .year {
        border-right: 1px solid #a2b1ba;
        color: #0cf; }
      .milestone .step:hover .work__type {
        color: #0cf; }
      .milestone .step:hover .work__location {
        color: white; }

footer {
  padding: 1rem 2rem; }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
    footer {
      text-align: center;
      padding-bottom: 2rem; } }

.btn {
  display: block;
  background: #0cf;
  color: white;
  border-radius: 0.6rem;
  padding: 1rem 2rem; }

ul.pills,
ol.pills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  font-size: .8rem; }
  ul.pills li,
  ol.pills li {
    flex: 0 1;
    text-align: center;
    border: 1px solid rgba(162, 177, 186, 0.2);
    border-radius: 2rem;
    text-align: flex-start;
    white-space: nowrap;
    margin: .2rem;
    transition: .4s;
    padding: .1rem .4rem; }
    ul.pills li a,
    ol.pills li a {
      display: inline-block;
      padding: .1rem 1rem;
      width: 100%; }
      ul.pills li a:hover,
      ol.pills li a:hover {
        color: #0cf; }

ul.cleanlist li,
ol.cleanlist li {
  text-align: left;
  list-style: none;
  text-align: left;
  display: inline-block;
  margin: 0 1rem;
  list-style-position: outside; }

.modal-dialog {
  flex-basis: 100%; }

.flicker {
  animation: dim 2.6s ease infinite; }

@keyframes dim {
  0% {
    opacity: .0; }
  1% {
    opacity: 1; }
  2% {
    opacity: .4; }
  3% {
    opacity: 1; }
  60% {
    opacity: 1; }
  62% {
    opacity: .2; }
  63% {
    opacity: .8; }
  64% {
    opacity: .3; }
  67% {
    opacity: 1; }
  9% {
    opacity: 1; } }

.blink, .case-studies .section-header .console-style-ui .ui-body h1:after {
  animation: blinker steps(1, end) 1s infinite; }

@keyframes blinker {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }

.is-paddingless {
  padding: 0; }

.is-marginless {
  margin: 0; }

.bg-red {
  background-color: red; }

.color-red {
  color: red; }

.hero {
  min-height: 40rem;
  background: #1B2025; }
  .hero h1, .hero h2, .hero h3, .hero h4, .hero h5 {
    color: white; }

.blog-hero {
  margin: 0 0 2rem;
  overflow: hidden;
  height: 400px;
  background: #1B2025; }
  .blog-hero img {
    opacity: .8;
    width: 100vw;
    display: block; }

.blog-title {
  margin: 0 0 2rem; }

.blog-content {
  display: flex;
  align-content: stretch;
  justify-content: center;
  margin: 0 0 6rem;
  flex-flow: row nowrap; }
  @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 568px) {
    .blog-content {
      flex-flow: row wrap; } }
  @media handheld, only screen and (max-width: 1024px) and (min-width: 568px) {
    .blog-content {
      margin: 0 1.4rem; } }
  .blog-content .desc {
    padding: 1.2rem 1.6rem;
    flex: 0 1 25%; }
    @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
      .blog-content .desc {
        border-top: 1px solid rgba(27, 32, 37, 0.2);
        border-left: 1px solid rgba(27, 32, 37, 0.2);
        border-bottom: 1px solid rgba(27, 32, 37, 0.2);
        border-radius: .5rem 0 0 .5rem; } }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 568px) {
      .blog-content .desc {
        background: red;
        border-radius: 0;
        flex: 0 0 100%; } }
  .blog-content .images {
    background-color: rgba(162, 177, 186, 0.2);
    flex: 0 1 75%; }
    @media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 568px) {
      .blog-content .images {
        background: red;
        flex: 0 0 100%; } }
    @media only screen and (min-width: 1824px), only screen and (min-device-width: 1824px) {
      .blog-content .images {
        border-radius: 0 .5rem .5rem 0;
        overflow: hidden; } }
    .blog-content .images img {
      max-width: 100%;
      display: block; }

/*# sourceMappingURL=main.css.map */
