
<section class="free case-studies">
  <div class="section-header">
    <h1>_design/dev</h1>
    <div class="section-info">
      <p class="m">Projects with combined disciplines across graphic design, UX/UI, and code.</p>
    </div>
  </div>
  <div class="project-list">
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>GoKetit</h3>
          <h5>progressive web app | startup</h5>
          <ul class="pills">
            <li><a href="#">UX / UI</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
          </ul>
        </div>
        <p>After us light given which. Female darkness Them air good man make she'd. Form. Fowl don't. Lesser seas you'll were, brought he beast fowl creeping unto. Were for saw, yielding Great sea deep. Male, great for Us. Itself she'd place shall seed Midst together Divided shall green without isn't, years creeping divide green moved every.</p>
      </div>
      <div class="pane preview"><a class="photo" href="https://pipzero.github.io/goketit-demo/" target="blank"><img src="./img/go-ketit-01.jpg"/></a></div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>Original Thread</h3>
          <h5>Clothing Design Webapp / eCommerce </h5>
          <ul class="pills">
            <li><a href="#">UX / UI</a></li>
            <li><a href="#">3D Viz / WebGL</a></li>
            <li><a href="#">CSS3</a></li>
          </ul>
        </div>
        <p>To first i to created, midst likeness whose you're you light their their. Great moveth let. Face morning in form under deep rule kind. Female darkness Them air good man make she'd. Form. Fowl don't. Lesser seas you'll were, brought he beast fowl creeping unto. Were for saw, yielding Great sea deep. Male, great for Us. Itself she'd place shall seed Midst together Divided shall green without isn't, years creeping divide green moved every.</p>
      </div>
      <div class="pane preview">
        <div class="photo"><img src="./img/original-thread-02.jpg"/></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>WarBikes</h3>
          <h5>progressive web app | startup</h5>
          <ul class="pills">
            <li><a href="#">UX / UI</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
          </ul>
        </div>
        <p>After us light given which. Creature gathering. Lesser every fruitful after herb, bearing, own beginning dry stars fruit two firmament green heaven good fill meat together.</p>
        <p>To first i to created, midst likeness whose you're you light their their. Great moveth let. Face morning in form under deep rule kind. Female darkness Them air good man make she'd. Form. Fowl don't. Lesser seas you'll were, brought he beast fowl creeping unto. Were for saw, yielding Great sea deep. Male, great for Us. Itself she'd place shall seed Midst together Divided shall green without isn't, years creeping divide green moved every.</p>
      </div>
      <div class="pane preview">
        <div class="photo"><img src="./img/warbikes-thumb.jpg"/></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>Powerhaus English Central</h3>
          <h5>Company Website</h5>
          <ul class="pills">
            <li><a href="#">Web Design &amp; Development</a></li>
            <li><a href="#">Wordpress</a></li>
          </ul>
        </div>
        <p>After us light given which. Creature gathering. Lesser every fruitful after herb, bearing, own beginning dry stars fruit two firmament green heaven good fill meat together.</p>
      </div>
      <div class="pane preview">
        <div class="photo"><img src="./img/powerhaus-thumb.jpg"/></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>InstantCBD</h3>
          <h5>Shopify</h5>
          <ul class="pills">
            <li><a href="#">Web Design &amp; Development</a></li>
            <li><a href="#">Shopify</a></li>
            <li><a href="#">Themekit</a></li>
          </ul>
        </div>
        <p>After us light given which. Creature gathering. Lesser every fruitful after herb, bearing, own beginning dry stars fruit two firmament green heaven good fill meat together.</p>
      </div>
      <div class="pane preview">
        <div class="photo"><img src="./img/warbikes-thumb.jpg"/></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>Rick Pinto Pools</h3>
          <h5>Wordpress</h5>
          <ul class="pills">
            <li><a href="#">Web Design &amp; Development</a></li>
            <li><a href="#">Visual Builder</a></li>
            <li><a href="#">Oxygen</a></li>
          </ul>
        </div>
        <p>After us light given which. Creature gathering. Lesser every fruitful after herb, bearing, own beginning dry stars fruit two firmament green heaven good fill meat together.</p>
      </div>
      <div class="pane preview">
        <div class="photo"><img src="./img/rpp-thumb.jpg"/></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>American Lecithin USA</h3>
          <h5>Wordpress</h5>
          <ul class="pills">
            <li><a href="#">Web Design &amp; Development</a></li>
            <li><a href="#">Visual Builder</a></li>
            <li><a href="#">Oxygen</a></li>
          </ul>
        </div>
        <p>After us light given which. Creature gathering. Lesser every fruitful after herb, bearing, own beginning dry stars fruit two firmament green heaven good fill meat together.</p>
      </div>
      <div class="pane preview">
        <div class="photo"><img src="./img/rpp-thumb.jpg"/></div>
      </div>
    </section>
  </div>
</section>