
<section class="free case-studies">
  <div class="section-header">
    <div class="console-style-ui">
      <div class="ui-header"><i class="fas fa-terminal"></i></div>
      <div class="ui-body">
        <h1>design && build</h1>
      </div>
    </div>
    <div class="section-info">
      <p class="m">Projects with combined disciplines across graphic design, UX/UI, and code.</p>
    </div>
  </div>
  <div class="project-list">
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>Powerhaus English Central</h3><a class="project-url" href="https://powerhausenglish.com" target="_blank">Company Website <i class="fas fa-link"></i> </a>
          <ul class="pills">
            <li><a href="#">Design &amp; Dev</a></li>
            <li><a href="#">Site Photography</a></li>
            <li><a href="#">Wordpress</a></li>
            <li><a href="#">Oxygen Visual Builder</a></li>
          </ul>
        </div>
        <div class="pane-content">
          <p>Full package project with less than a month build time.</p>
          <p>The project involved venue photography.</p>
        </div>
      </div>
      <div class="pane preview">
        <div class="photo"><a class="project-url" href="https://powerhausenglish.com" target="_blank"><img src="./img/powerhaus-thumb.jpg"/></a></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>InstantCBD - Chicago</h3><a class="project-url" href="https://instantcbd.com" target="_blank">Company Website <i class="fas fa-link"></i> </a>
          <ul class="pills">
            <li><a href="#">Web Design &amp; Development</a></li>
            <li><a href="#">Packaging &amp; Print Design</a></li>
            <li><a href="#">3D Visualization - Blender</a></li>
            <li><a href="#">Shopify Custom Development</a></li>
          </ul>
        </div>
        <div class="pane-content">
          <p>Custom shopify outlet store for instantized, water soluble CBD, for a small startup company based in Chicago, USA. Custom heme developed using shopify Theme Kit as foundation.</p>
          <p>Aside from coding, the visuals here are built and rendered in Blender. Actual packaging is based on this 3D visualization.</p>
        </div>
      </div>
      <div class="pane preview">
        <div class="photo"><a class="project-url" href="https://instantcbd.com" target="_blank"><img src="./img/icbd-thumb.jpg"/></a></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>Rick Pinto Pools</h3><a class="project-url" href="https://rickpintopools.com" target="_blank">Company Website <i class="fas fa-link"></i> </a>
          <ul class="pills">
            <li><a href="#">Web Design &amp; Development</a></li>
            <li><a href="#">Visual Builder</a></li>
            <li><a href="#">Oxygen</a></li>
          </ul>
        </div>
        <div class="pane-content">
          <p>Lightweight web design project for an American pool servicing company in Connecticut, USA. Built upon Wordpress using Oxygen Visual builder.</p>
        </div>
      </div>
      <div class="pane preview">
        <div class="photo"><a class="project-url" href="https://rickpintopools.com" target="_blank"><img src="./img/rpp-thumb.jpg"/></a></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>American Lecithin USA</h3><a class="project-url" href="http://104.225.222.35/" target="_blank">Company Website <i class="fas fa-link"></i> </a>
          <ul class="pills">
            <li><a href="#">Web Design &amp; Development</a></li>
            <li><a href="#">Wordpress</a></li>
            <li><a href="#">Visual Builder</a></li>
            <li><a href="#">Oxygen</a></li>
          </ul>
        </div>
        <div class="pane-content">
          <p>A content-heavy website design and development project for a company based in Connecticut, USA. </p>
        </div>
      </div>
      <div class="pane preview">
        <div class="photo"><a class="project-url" href="http://104.225.222.35/" target="_blank"><img src="./img/alc-thumb.jpg"/></a></div>
      </div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>GoKetit</h3><a class="project-url" href="https://pipzero.github.io/goketit-demo/" target="_blank">progressive web app | startup <i class="fas fa-link"></i> </a>
          <ul class="pills">
            <li><a href="#">Experimental</a></li>
            <li><a href="#">UX / UI</a></li>
            <li><a href="#">Rapid Prototype</a></li>
            <li><a href="#">Pug</a></li>
            <li><a href="#">SASS</a></li>
          </ul>
        </div>
        <div class="pane-content">
          <p>Internal experimental project in ReactJS. Currently suspended.</p>
        </div>
      </div>
      <div class="pane preview"><a class="photo" href="https://pipzero.github.io/goketit-demo/" target="blank"><img src="./img/goketit-thumb.jpg"/></a></div>
    </section>
    <section>
      <div class="pane main">
        <div class="pane-header">
          <h3>Original Thread</h3><a class="project-url" href="http://13.58.134.216:9000/" target="_blank">View here but please do not share link.  <i class="fas fa-link"></i> </a>
          <ul class="pills">
            <li><a href="#">UX / UI</a></li>
            <li><a href="#">Blender</a></li>
            <li><a href="#">ThreeJS</a></li>
            <li><a href="#">ReactJS</a></li>
          </ul>
        </div>
        <div class="pane-content">
          <p>Most painful internal project so far in my entire life, can't reveal much at the moment.</p>
        </div>
      </div>
      <div class="pane preview"><a class="photo" href="http://13.58.134.216:9000/" target="blank"><img src="./img/ot-thumb.jpg"/></a></div>
    </section>
  </div>
</section>