
<section class="free eyecandy">
  <div class="section-header"><img class="g-heading flicker" src="./img/g-title-visual-design.jpg"/>
    <div class="section-info confined"></div>
  </div>
  <div class="container confined">
    <div class="section-header">
      <h3><span>3D &amp; Motion</span></h3>
    </div>
    <div class="flex-grid">
      <section>
        <article><a data-fancybox="" href="https://youtu.be/MqAk67ns21I"><span class="overlay">
              <div class="project-title">Stacks App Promo Video</div>
              <ul class="pills">
                <li>Motion Graphics</li>
                <li>3D</li>
              </ul></span><img src="./img/stacks-grid-thumb.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/3d-yolo-lg.jpg"><span class="overlay">
              <div class="project-title">#YOLO</div>
              <ul class="pills">
                <li>Graphic Design</li>
                <li>3D Title</li>
              </ul></span><img class="image-content" src="./img/3d-yolo-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/lucien-lg.jpg"><span class="overlay">
              <div class="project-title">Lucien Elements</div>
              <ul class="pills">
                <li>Brochure Design</li>
                <li>3D</li>
              </ul></span><img src="./img/lucien-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="https://vimeo.com/89574698"><span class="overlay">
              <div class="project-title">LTC Steel Detailers</div>
              <ul class="pills">
                <li>Motion Graphics</li>
                <li>3D Modelling</li>
                <li>Walkthrough Animation</li>
              </ul></span><img src="./img/motion-ltcsteel-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/motion-ltcsteel-2-lg.jpg"><span class="overlay">
              <div class="project-title">LTC Steel Detailers</div>
              <ul class="pills">
                <li>3D Modelling</li>
                <li>Cloud Rendering</li>
                <li>Promotional Materials</li>
              </ul></span><img src="./img/motion-ltcsteel-2-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/eastvale.jpg"><span class="overlay">
              <div class="project-title">Eastvale Gamefarm</div>
              <ul class="pills">
                <li>Graphic Design</li>
                <li>3D Title</li>
              </ul></span><img src="./img/3d-eastvale-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/3d-chip-lg.jpg"><span class="overlay">
              <div class="project-title">Blender 3D Modeling and Rendering</div>
              <ul class="pills">
                <li>3D Modeling</li>
                <li>PBR Rendering</li>
              </ul></span><img src="./img/3d-chip-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/3d-factory-lg.jpg"><span class="overlay">
              <div class="project-title">Imachinarium</div>
              <ul class="pills">
                <li>Personal</li>
                <li>3D</li>
              </ul></span><img src="./img/3d-factory-md.jpg"/></a></article>
      </section>
    </div>
  </div>
  <div class="container confined">
    <div class="section-header">
      <h3><span>Branding <em class="sepper"></em> Illustration <em class="sepper"></em> Clothing</span></h3>
    </div>
    <div class="flex-grid">
      <section>
        <article><a data-fancybox="" href="./img/print-andrea-lg.jpg"><span class="overlay">
              <div class="project-title">Wedding Invitation</div>
              <ul class="pills">
                <li>Print Design</li>
                <li>Graphic Design</li>
              </ul></span><img src="./img/print-andrea-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/print-ole-lg.jpg"><span class="overlay">
              <div class="project-title">Olé Olé Conveniece Store</div>
              <ul class="pills">
                <li>Branding</li>
                <li>Promotional Materials</li>
              </ul></span><img src="./img/print-ole-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/party-business-lg.jpg"><span class="overlay">
              <div class="project-title">Party + Business</div>
              <ul class="pills">
                <li>Vector</li>
                <li>Self-Illustration</li>
              </ul></span><img src="./img/party-business-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/aov-full.jpg"><span class="overlay">
              <div class="project-title">Merch Design &amp; Photography</div>
              <ul class="pills">
                <li>Vector</li>
                <li>Merch Design</li>
                <li>Serigraphy</li>
                <li>Photography</li>
              </ul></span><img src="./img/aov-thumb.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/chester-lg.jpg"><span class="overlay">
              <div class="project-title">Linkinpark Commemorative Merch</div>
              <ul class="pills">
                <li>Merch Design</li>
                <li>Serigraphy</li>
                <li>Photography</li>
              </ul></span><img src="./img/chester-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/print-uap-lg.jpg"><span class="overlay">
              <div class="project-title">United Architects of the Philippines</div>
              <ul class="pills">
                <li>Merch Design</li>
                <li>Serigraphy</li>
                <li>Photography</li>
              </ul></span><img src="./img/print-uap-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/ofome-lg.jpg"><span class="overlay">
              <div class="project-title">Vector Illustration</div>
              <ul class="pills">
                <li>Character Design</li>
                <li>Illustrator</li>
                <li>Promotional Material</li>
              </ul></span><img src="./img/ofome-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/dekulor-print-01-lg.jpg"><span class="overlay">
              <div class="project-title">University Shirt Design</div>
              <ul class="pills">
                <li>Merch Design</li>
                <li>Serigraphy</li>
                <li>Photography</li>
              </ul></span><img src="./img/dekulor-print-01-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/pingpongkicks.jpg"><span class="overlay">
              <div class="project-title">Ping Pong Kicks</div>
              <ul class="pills">
                <li>Merch Design</li>
                <li>Serigraphy</li>
                <li>Photography</li>
              </ul></span><img src="./img/pingpongkicks-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/vector-cry-lg.jpg"><span class="overlay">
              <div class="project-title">Cry of Sta. Barbara Poster</div>
              <ul class="pills">
                <li>Poster Design</li>
              </ul></span><img src="./img/vector-cry-md.jpg"/></a></article>
      </section>
      <section>
        <article><a data-fancybox="" href="./img/vector-hellboy-lg.jpg"><span class="overlay">
              <div class="project-title">RedBoy</div>
              <ul class="pills">
                <li>Vector</li>
                <li>Self-Illustration</li>
              </ul></span><img src="./img/vector-hellboy-md.jpg"/></a></article>
      </section>
    </div>
  </div>
</section>