
<section class="free work-history">
  <section>
    <div class="self-intro">
      <div class="photo"><img src="./img/pipo-sulpico-profile-pic.jpg"/></div>
      <h3> <span class="bigger">Hi, I'm <a href="#">Raymond Sulpico</a></span><br/>UI Designer. Serigrapher. Front-end &amp; Wordpress Developer.</h3>
      <p>Thirteen years doing graphics, code, photography, serigraphy. Having a strong Mathematical and Engineering foundation, have been useful within the course of my career for more than a decade. Courious about a lot of things, I enjoy discoveries. Resourceful and motivated, I tend to constantly learn new things and keep up with trends. Deligently, I never stop seeking for self improvement. </p>
    </div>
  </section>
  <section>
    <div class="milestone">
      <div class="step">
        <div class="year">06</div>
        <div class="work">
          <div class="work__type">Graduated Bachelor of Science in Electronics &amp; Communications Engineering</div>
          <div class="work__location">Central Philippine University</div>
          <div class="work__location">PRC License No. : 0039223</div>
        </div>
      </div>
      <div class="step">
        <div class="year">07-08</div>
        <div class="work">
          <div class="work__type">Freelance Graphic Designer / Junior Front End Developer</div>
          <div class="work__location">Eversun Software Philippines Corporation (Agents of Value)<br/>Iloilo, PH</div>
        </div>
      </div>
      <div class="step">
        <div class="year">08-10</div>
        <div class="work">
          <div class="work__type">Graphic Designer  </div>
          <div class="work__location">NicheBotX (Fullthrottle Enterprises, Inc.) +<br/>California USA - based (Online)</div>
        </div>
      </div>
      <div class="step">
        <div class="year">09-11</div>
        <div class="work">
          <div class="work__type">Co-founder, Web Designer, Front End and Wordpress Developer</div>
          <div class="work__location">Webiscuits<br/>Iloilo, PH</div>
        </div>
      </div>
      <div class="step">
        <div class="year">10-11</div>
        <div class="work">
          <div class="work__type">Lead Front End & Wordpress Developer</div>
          <div class="work__location">7th Media Design Studio<br/>Makati, PH</div>
        </div>
      </div>
      <div class="step">
        <div class="year">12-20</div>
        <div class="work">
          <div class="work__type">Freelance UI + Graphic Designer, Motion Designer, Illustrator, Front End + Wordpress Developer</div>
          <div class="work__location">Skygate Media<br/>New York, USA / Chicago, USA - based (Remote)</div>
        </div>
      </div>
      <div class="step">
        <div class="year">17 +</div>
        <div class="work">
          <div class="work__type">Founder and Lead Serigrapher + UI/UX Designer &amp; Developer</div>
          <div class="work__location">DeKulor Prints (Screen Printing Specialist) + Various Online Clients (Sporadic) <br/>Iloilo, PH</div>
        </div>
      </div>
      <div class="step">
        <div class="year">21</div>
        <div class="work">
          <div class="work__type">Senior UX/UI Designer</div>
          <div class="work__location">Dripcreative<br/>NSW, Australia (Remote)</div>
        </div>
      </div>
    </div>
  </section>
</section>